@{
    ViewData["Title"] = "Introdução ao ASP.NET Core";
}
    <div class="text-center center">
    <h1 class="display-2">Bem vindo</h1>
    <p>Aprenda sobre a <a href="https://docs.microsoft.com/aspnet/core">criação de aplicativos Web com o ASP.NET Core</a>.</p>
    </div>
